<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\Logs\file-uploader-api\internal-nlog.txt">
  <targets>
    <target name="PrimaryLogFile" layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=toString,Data}"
            xsi:type="File" 
            fileName="C:\Logs\file-uploader-api\api-${cached:cached=true:inner=${date:format=yyyy-MM-dd HH-mm-ss}}.log"
            archiveFileName="C:\Logs\file-uploader-api\api.archive.{#}.log" 
            archiveEvery="Day" archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd HH-mm-ss" maxArchiveFiles="10" />
    <target name="ConsoleLog" layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=toString,Data}"
            xsi:type="Console" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="PrimaryLogFile,ConsoleLog" />
  </rules>
</nlog>